/*stlyes go here*/

p {

  color:#555954;
  font-family:'Source Sans Pro', Helvetica, sans-serif;
  text-align: center;

}

h1 {
  font-family:'Gilda Display', Georgia, serif;
  text-align: center;
  color: #A0899D

}

h2 {
  font-family: 'Lato', Helvetica, sans-serif;
  text-align: center;
  color: #3D403A

}

body {
  background-color: #F2EDE4;
}
#nav {
  padding: 0;
  list-style-type: none;
}
#nav li{
  border: 1px solid #555954;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #555954;
  background-color: #A0899D;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  padding: 4px;
}

#nav a:hover, #nav a:active {
  background-color: #8FA6A1;
}

#contact {
  text-align: center;
  color: #555954;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  padding: 0;
  list-style-type: none;
}

.caption{
  font-family: 'Lato', Helvetica, sans-serif;
  color: #313E40;
  font-style: italic;
  text-align: right;
  font-size: 0.8em;
  margin-top: 0;
}

#footer{
  color:#313E40;
  font-family: 'Gilda Display', Georgia, serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}
img{
  border: none;
}
