/*stlyes go here*/

p {

  color:#D9AB91;
  font-family:'Source Sans Pro', Helvetica, sans-serif;
  text-align: center;

}

h1 {
  font-family:'Gilda Display', Georgia, serif;
  text-align: center;
  color: #313E40

}

h2 {
  font-family: 'Lato', Helvetica, sans-serif;
  text-align: center;
  color: #313E40

}

body {
  background-color: #6C898C;
}
#nav {
  padding: 0;
  list-style-type: none;
}
#nav li{
  border: 1px solid #D9AB91;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #D9AB91;
  background-color: #F5D1C3;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
}

#nav a:hover, #nav a:active {
  background-color: #F2AB9B;
}

#contact {
  text-align: center;
  color: #D9AB91;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}


.caption{
  font-family: 'Lato', Helvetica, sans-serif;
  color: #313E40;
  font-style: italic;
  text-align: right;
  font-size: 0.8em;
  margin-top: 0;
}

#footer{
  color:#313E40
  font-family: 'Gilda Display', Georgia, serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}
img{
  border: none;
}
