/*stlyes go here*/

p {

  color:#555954;
  font-family:'Source Sans Pro', Helvetica, sans-serif;
  text-align: center;

}

h1 {
  font-family:'Gilda Display', Georgia, serif;
  text-align: center;
  color: #A0899D

}

h2 {
  font-family: 'Lato', Helvetica, sans-serif;
  text-align: center;
  color: #3D403A

}

body {
  background-color: white;
}

#contact {
  text-align: center;
  color: #555954;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  padding: 0;
  list-style-type: none;
}

.cards {
padding: 0;
list-style: none;
margin: 0;
display: grid;
grid-gap: 20px;
grid-template-columns: 1fr 1fr 1fr;
grid-auto-rows: minmax(150px, auto);
    grid-template-areas:
          ". a b"
          ". c d"
          ". . .";
}

.cards li {
    background-color: #BFD8D1;
    border: 1px solid #ccc;
    padding: 0;
    border-radius: 0;
}

.card1 {
      grid-area: a;
  }

  .card2 {
      grid-area: b;
  }

  .card3 {
      grid-area: c;
  }

  .card4 {
      grid-area: d;

  }

.caption{
  font-family: 'Lato', Helvetica, sans-serif;
  color: #313E40;
  font-style: italic;
  text-align: center;
  font-size: 0.8em;
  margin-top: 0;
}

#footer{
  color:#313E40;
  font-family: 'Gilda Display', Georgia, serif;
  font-size: 0.8em;
  border-top: 1px solid black;
  text-align: right;
}
img{
  border: none;
}



nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    font-family: 'Lato', Helvetica, sans-serif;
    text-decoration: none;
    margin-bottom: 1em;
}


@media screen and (min-width: 600px) {
  #nav {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0;
        font-family: 'Lato', Helvetica, sans-serif;
        text-decoration: none;
  }

@media screen and (min-width: 600px) {
.cards{
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  list-style: none;
  display:grid;
  
  grid-gap:20px;


  }
}

  @media screen and (min-width: 900px){
.cards{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 15%);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 50px;
    align-content: space-between;
    justify-content: space-between;

}

  }
}
